body{
    background-color: rgb(122, 122, 122);
}
header{
    background-color: gold;
    text-align: center;
}
div{
    background-color: rgb(236, 236, 236);
    width: 800px;
    border: 15px solid gold;
    padding: 50px;
    margin: auto;
}
img{
    width: 300px;
    float: inline-end;
}
ul{
    float: inline-end;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}